.advice-evisu {
  width: 100vw;
}

.evisu-contents {
  width: 93.75vw;
  height: 912px;
  margin: auto;
  padding-top: 82px;
  display: flex;
  justify-content: space-between;
}

.evisu-con-title h3 {
  margin: 70px 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.evisu-con-title ul {
  font-size: 1.4rem;
}

.evisu-con-title p {
  font-size: 1.4rem;
  padding-bottom: 3px;
}

.evisu-con-title ul {
  margin-bottom: 10px;
}

.evisu-con-title li {
  list-style: disc;
  list-style-position: inside;
  margin-left: 20px;
}

.evisu-con-img {
  position: relative;
  top: 70px;
  right: 1149px;
}

.image-gallery img {
  display: block;
  width: 50.84vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-gallery img.active {
  opacity: 1;
  z-index: 1;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(150, 150, 150, 0);
  color: #6d6d6d;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.prev-button {
  right: 38px;
  top: 331px;
}

.next-button {
  top: 331px;
  left: 1010px;
}
