#wrap {
  width: 100vw;
  overflow: hidden;
}

.webshop-top {
  width: 100vw;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.webshop-top li {
  float: left;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
}

.webshop-top li:hover {
  cursor: pointer;
  color: rgb(172, 172, 172);
}

.image-container {
  width: 100vw;
  padding: 30px 0 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-item.visible {
  width: 31.2vw;
  position: relative;
}

.image-item img {
  width: 31.2vw;
  height: 59.11vh;
  object-fit: cover;
  cursor: pointer;
}

.product {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
}

.price {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: 500;
}

.image-item .hover-image {
  display: none;
}

.image-item:hover .default-image {
  display: none;
}

.image-item:hover .hover-image {
  display: block;
}

.image-item {
  display: none;
}

.image-item.visible {
  display: block;
}

.load-more-btn {
  width: auto;
  margin: auto;
  margin: 20px;
  text-align: center;
}

#loadMoreButton {
  margin: auto;
  background-color: rgb(17, 17, 17);
  border-radius: 100px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
  .image-item img {
    height: 45.11vh;
  }

  .price {
    display: none;
  }

  .product {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-item img {
    width: 50vw;
  }

  .product {
    width: 100vw;
    left: 80%;
  }
}

@media screen and (max-width: 500px) {
  .webshop-top {
    margin: auto;
    padding: 77px 0 15px 0;
    width: 65%;
  }

  .webshop-top ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .webshop-top li {
    padding-bottom: 5px;
  }

  .image-item img {
    height: 33.11vh;
  }

  .product {
    width: 39vw;
  }

  .image-container {
    padding: 0 0 19px 0;
  }
}

@media screen and (max-width: 426px) {
  .webshop-top {
    width: 80%;
  }

  .image-item img {
    height: 27.11vh;
  }

  .image-item.visible {
    display: block;
    height: 33vh;
  }

  .product {
    top: 83%;
    font-size: 12px;
  }

  #loadMoreButton {
    font-size: 12px;
    padding: 8px 17px;
  }
}

@media screen and (max-width: 344px) {
  .webshop-top {
    width: 100%;
  }

  .image-item img {
    height: 22.11vh;
  }

  .image-item.visible {
    display: block;
    height: 28vh;
  }

  .product {
    top: 81%;
    font-size: 12px;
  }

  .load-more-btn {
    margin: 0;
  }
}
